<header class="bs-docs-nav navbar navbar-static-top" > 
            <div class="container" style="border-bottom: 1px solid #166fff"> 
                <div class="navbar-header">
                  <!--  <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button> -->
                    <a href="/inside" class="navbar-brand">Bootstrap</a> 
                </div> 
                <nav class="collapse navbar-collapse" > 
                <ul class="nav navbar-nav"> 
                    <li> 
                        <a href="#">Профил</a> 
                    </li> 
                    <li> 
                        <a href="#">Приятели</a> 
                    </li> 
                    <li> 
                        <a href="#">Събития</a>
                    </li>
                    <li> 
                        <a href="#">Календар</a>
                    </li> 
                </ul> 
                <ul class="nav navbar-nav navbar-right"> 
                    <li>
                        <a href="#">Изход</a>
                    </li>  
                </ul> 
                </nav>
            </div>
        </header>